In [1]:
import pandas as pd
import numpy as np

from sqlalchemy import create_engine

In [2]:
path_to_db = '/datasets/telecomm_csi.db'
engine = create_engine(f'sqlite:///{path_to_db}', echo = False)

In [3]:
query = """
SELECT u.USER_ID,
       u.lt_day,
       CASE WHEN u.lt_day <= 365 THEN 'новый клиент' ELSE 'старый клиент' END AS is_new,
       u.age,
       CASE WHEN u.GENDER_SEGMENT = 1 THEN 'женщина' ELSE 'мужчина' END AS gender_segment,
       u.OS_NAME,
       u.CPE_TYPE_NAME,
       l.COUNTRY,
       l.CITY,
       SUBSTR(a.TITLE, 4) AS age_segment,
       SUBSTR(ts.title, 4) AS traffic_segment,
       SUBSTR(ls.title, 4) AS lifetime_segment,
       u.NPS_SCORE,
       CASE
           WHEN u.NPS_SCORE <= 6 THEN 'detractors'
           WHEN u.NPS_SCORE >= 9 THEN 'promoters'
           ELSE 'passives'
       END AS nps_group
FROM user u 
JOIN LOCATION l ON l.LOCATION_ID = u.LOCATION_ID
JOIN AGE_SEGMENT a ON a.AGE_GR_ID = u.AGE_GR_ID  
JOIN TRAFFIC_SEGMENT ts ON ts.TR_GR_ID = u.TR_GR_ID 
JOIN LIFETIME_SEGMENT ls ON ls.LT_GR_ID = u.LT_GR_ID
"""

In [4]:
df = pd.read_sql(query, engine)
df.head(3)

,user_id,lt_day,is_new,age,gender_segment,os_name,cpe_type_name,country,city,age_segment,traffic_segment,lifetime_segment,nps_score,nps_group
0,A001A2,2320,старый клиент,45.0,женщина,ANDROID,SMARTPHONE,Россия,Уфа,45-54,1-5,36+,10,promoters
1,A001WF,2344,старый клиент,53.0,мужчина,ANDROID,SMARTPHONE,Россия,Киров,45-54,1-5,36+,10,promoters
2,A003Q7,467,старый клиент,57.0,мужчина,ANDROID,SMARTPHONE,Россия,Москва,55-64,20-25,13-24,10,promoters

In [5]:
df.to_csv('telecomm_csi_tableau.csv', index=False)

### Укажите ссылку на дашборд на сайте Tableau Public:

https://public.tableau.com/app/profile/.76353840/viz/SvodniyTwo/Dashboard1?publish=yes

### Укажите ссылку на pdf-файл с презентацией:

https://disk.yandex.ru/i/Nv-dgjPvNiAirQ